body {
    background: #111;
    color: white;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding-top: 30px;
}

.flex-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    position: relative;
}

.textarea {
    background: #222;
    font-family: "Kode Mono", monospace;
    border-radius: 10px;
    width: 60vw;
    max-width: 800px;
    padding: 50px;
    margin: 15px;
    margin-bottom: 30px;
}

.placeholder {
    color: gray;
}

.play-button {
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    cursor: pointer;
    top: 96px;
    left: 16px;
    font-size: 30px;
}

.play-button:hover {
    background: black;
}

h1,
h3,
.play-button {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
}

@media only screen and (min-width: 1000px) {
    .textarea {
        width: 35vw;
    }
}